<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yecombinator</title>

    <!-- SEO Metadata -->
    <meta name="description" content="search ye tweets">
    <meta name="keywords" content="kanye, west, kanyewest, ye, yecombinator">
    <meta name="author" content="surya @sdand">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
    <div class="search-container">
        <input type="checkbox" id="lyrics-toggle" hidden>
        <label for="lyrics-toggle" class="toggle-switch">╳</label>
        <input type="text" id="search-box" placeholder="search ye tweets">
    </div>
    
    <div id="results"></div>

    <script>
        $(document).ready(function(){
            $('#lyrics-toggle').change(function(){
                if(this.checked) {
                    $('#search-box').attr('placeholder', 'search ye tweets and lyrics');
                    $('.toggle-switch').text('♪'); // Change to musical note when checked
                } else {
                    $('#search-box').attr('placeholder', 'search ye tweets');
                    $('.toggle-switch').text('╳'); // Change back to 'X' when unchecked
                }
            });
        
            // Trigger the change event on page load in case the checkbox is pre-checked
            $('#lyrics-toggle').trigger('change');
        
            $('#search-box').keyup(function(){
            let query = $(this).val();
            let includeLyrics = $('#lyrics-toggle').is(':checked');
            if(query != ''){
                $.ajax({
                    url: '/search',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({query: query, includeLyrics: includeLyrics}),
                    success: function(response){
                        $('#results').empty();
                        response.forEach(function(item){
                            let tweet = item.text;
                            let date = item.date;
                            $('#results').append('<div class="tweet"><span>' + tweet + '</span><span class="date">' + date + '</span></div>');
                        });
                    }
                });
            } else {
                $('#results').empty();
            }
        });
        });
        </script>
</body>
</html>
